/*
    ESTILO RETO
*/
body{
    background-color: goldenrod;
    border:solid 2px;
    border-radius: 10px;
    padding: 40px;
    color: blue;
    border-color: black;
}
h1{
    color: blue;
}
span{
    color: red;
}
.hiper{
    color: greenyellow;
}
.xx{
    color: yellow;
}
pre{
    color: white;
}
div pre{
    float: left;
}
div img{
    float: left;    
}
img{
    width: 20%;
    margin-top: 35px;
}
.caja{
    overflow: auto;
}