*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: wheat;
    margin: 20px auto 20px auto;
}

.menuh{
    width: 70%;
    margin: auto;
}

.menuh > a,.menuv a{
    background-color: greenyellow;
    text-decoration: none;
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
}

.menuh a:hover,.menuv a:hover{
    background-color: aqua;
}

.menuv a{
    display: block;
    float: none;
    width: 30%;
}

.menuv{
    width: 50%;
    float: left;
}