/*
    Página principal de la web, principalmente el menú y una pequeña introducción
*/

@font-face {
    font-family: tototo;
    src: url(./scramble_storm/Scramble\ Storm.otf);
}

body{
    background-image: url(./fotos/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-size: 100px;
    font-family: tototo;
    letter-spacing: 10px;
    padding: 20px 0px 20px 0px;
    color: white;
}
/*
    TEXTO DE PRESENTACIÓN + IMÁGEN
*/
.preset{
    width: 100%;
    display: flex;
    float: left;
    padding-top: 100px;
}
.preset p{
    width: 40%;
    text-align: center;
    color: white;
    padding-top: 100px;
    font-size: 20px;
}
.preset img{
    width: 30%;
    border: solid 5px white;
    border-radius: 10px;
    margin: auto;
}

/*
    Menu Horizontal
*/
div{
    float: left;
    display: flex;
}
.titulo{
    width: 70%;
    margin-left: 14%;    
    border-radius: 10px;
}
.menu{
    width: 100%;
    padding-top: 50px;
}
.menu > a{
    text-decoration: dashed;
    float: left;
    width: 20%;
    text-align: center;
    padding: 1%;
    color: white;
    font-size: 1.5em;
    display: block;
    border: solid 4px white;
    border-radius: 10px;
    margin: auto;
    background-image:linear-gradient(to bottom,pink, purple);
}
.menu > a:hover{
    transition: all 1s ease;
    transform: scale(1.2);
}
/*
    Video
*/
.video{
    width: 100%;
    margin: auto;
    padding: 10% 0% 5% 0%;
}
.video iframe{
    width: 30%;
    margin: auto;
}
/*
    Mapa y aclaración
*/
iframe:hover{
    transform: scale(1.1);
}
.mapa{
    width: 100%;
    padding-top: 100px;
}
.mapa iframe{
    margin: auto;
    border-radius: 10px;
    transition: all 0.1s ease;
}
.mapa iframe:hover{
    transform: scale(0.9);
}
.a{
    width: 100%;
}
.a p{
    color: white;
    margin: auto;
    padding-top: 15px;
}
.b{
    width: 100%;
}
.b p{
    color: white;
    margin: auto;
    padding-top: 15px;
}
.c{
    width: 100%;
}
.c p{
    color: white;
    margin: auto;
    padding: 15px 0px 30px 0px;
}
.boton{
    width: 100%;
    margin: auto;
    padding: 10px;
    background-image:linear-gradient(to bottom, pink, purple);
    font-family: tototo;
    font-size: 50px;
    border-radius: 5px;

}
.albacete{
    width: 30%;
    margin-left: 35%; 
    margin-top: 15px;
    margin-bottom: 15px;   
}
.albacete:hover{
    transform: scale(0.9);
    transition: all ease 0.5s;
}






