/*

*/

@font-face {
    font-family: tototo;
    src: url(./scramble_storm/Scramble\ Storm.otf);
}

body{
    background-image: url(./fotos/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    padding-left: 3%;
}
header p{
    color: white;
    font-size: 15px;
    padding-top: 40px;
}
header a{
    width: 7%;
    margin: 20px;
}
a img{
    width: 100%;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: white;
    letter-spacing: 8px;
    font-family: tototo;
}