/*
    Página principal de la web, principalmente el menú y una pequeña introducción
*/
header{
    display: flex;
    margin: 20px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    padding: 20px 0px 0px 40px;
}
div{
    float: left;
    display: flex;
}
.titulo{
    width: 80%;
}
.logo{
    width: 20%;
}
img{
    width: 100%;
}
.menu{
    width: 80%;
    border-bottom: 10px;
    padding-top: 50px;
}
.menu > a{
    background-color: blue;
    text-decoration: none;
    float: right;
    width: 20%;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.menu > a:hover{
    background-color: yellow;
    color: black;
}
